<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">PMS Home</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#search"><i class="fa fa-search"></i> Search</a></li>
				<li><a href="#books"><i class="fa fa-book"></i> View Books</a></li>
				<li><a href="#customers"><i class="fa fa-user"></i> View Customers</a></li>
			</ul>
		</div>
	</nav>
</header>