<div class="jumbotron text-center" ng-controller="BookController as book">
    <h2>Add Book</h2>
    <h3>{{message}}</h3>
    <table align="center">
        <tr>
            <td>
                <input type="text" placeholder="ISBN" ng-model="book.isbn"></input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Author" ng-model="book.authorID"></input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Title" ng-model="book.title"></input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Count" ng-model="book.count"></input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Price" ng-model="book.price"></input>
            </td>
        </tr>
		<tr>
			<td>
				<input type="text" placeholder="Rating" ng-model="book.rating"></input>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" placeholder="Weight (lbs)" ng-model="book.Weight"></input>
			</td>
		</tr>
        <tr>
            <td>
                <input type="text" placeholder="Genre" ng-model="book.genre"></input>
            </td>
        </tr>
    </table>
    <button type="button" ng-click="book.addBook()">Add Book</button>
</div>
