<div class="jumbotron text-center" ng-controller="BookController as book">
    <h2>Add Book</h2>
    <h3>{{message}}</h3>
    <table align="center">
        <tr>
            <td>ISBN</td>
            <td>
                <input type="text" ng-model="book.isbn"></input>
            </td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <input type="text" ng-model="book.authorID"></input>
            </td>
        </tr>
        <tr>
            <td>Title</td>
            <td>
                <input type="text" ng-model="book.title"></input>
            </td>
        </tr>
        <tr>
            <td>Count</td>
            <td>
                <input type="text" ng-model="book.count"></input>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text" ng-model="book.price"></input>
            </td>
        </tr>
        <tr>
            <td>Genre</td>
            <td>
                <input type="text" ng-model="book.genre"></input>
            </td>
        </tr>
    </table>
    <button type="button" ng-click="book.addBook()">Add Book</button>
</div>
